@import url("css/base.css");
@import url("css/layout.css");
@import url("css/po.css");
body {
	font-family: "ƒƒCƒŠƒI","Meiryo","ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","‚l‚r ‚oƒSƒVƒbƒN", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
}